body {
    font-family: Arial, sans-serif;
    background-color: #fdf5d6;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    width: 90%;
    max-width: 1000px;
    height: 80vh;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#questionContainer {
    display: inline-block;
}

.question-block {
    display: inline-block;
    width: 25vw;
    max-width: 300px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    transform: translateX(100px);
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.question-block.visible {
    opacity: 1;
    transform: translateX(0);
}


.answer {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.answer.slide-down {
    animation: slideDown 0.5s ease forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100px);
        opacity: 0;
    }
}

.correct-answer-block {
    background-color: #c8e6c9;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: none;
}

.answer.correct {
    background-color: #c8e6c9;
}

.answer.wrong {
    background-color: #ffcdd2;
}

.hidden {
    display: none;
}

#statistic {
    margin-top: 20px;
    font-size: 18px;
}
